[phases.setup]
nixPkgs = ["php82", "php82Extensions.mbstring", "php82Extensions.pdo", "php82Extensions.pdo_mysql", "nginx", "nodejs"]

[phases.build]
cmds = ["chmod +x start.sh"]

[start]
cmd = "./start.sh"
