@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);

@import url(https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0px;

  padding: 0px;

  box-sizing: border-box;
}

.btn-success {
  color: #fff;

  background-color: #28a745;

  border-color: #28a745;
}

.form-control {
  display: block;

  width: 100%;

  padding: 0.5rem 0.75rem;

  font-size: 1rem;

  line-height: 1.25;

  color: #495057;

  background-color: #fff;

  background-image: none;

  background-clip: padding-box;

  border: 1px solid rgba(0, 0, 0, 0.15);

  border-radius: 0.25rem;

  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* latin-ext */

@font-face {
  font-family: "poppins", sans-serif;

  font-style: normal;

  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: "poppins", sans-serif;

  font-size: 14px;

  line-height: 1.7;

  color: #666666;

  margin: 0px;
}

ul,
li {
  margin: 0px;

  list-style-type: none;
}

.bg-contact3 {
  padding-bottom: 10px;

  background-attachment: fixed;

  background-size: cover;

  height: 100%;

  padding: 10px 0;
  width: 100%;

  background-image: url("@cf_asset/img/bg5.png");
}

.container-contact3 {
  width: 100%;

  min-height: 100vh;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  padding-top: 20px;
}

.contact_form {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);

  background-color: #fafafa;

  padding-bottom: 50px;

  padding-top: 30px;

  padding-left: 20px;

  padding-right: 20px;

  border-radius: 5px;

  margin-top: 30px;

  margin-bottom: 20px;
}

.contact_form h1 {
  padding-top: 0;

  padding-bottom: 20px;

  font-family: "poppins", sans-serif;

  color: #747474;
}

.contact_form .form-control {
  background-color: #fff;

  margin-bottom: 40px;

  border: 1px solid #cacdcf;

  box-sizing: border-box;

  color: #000000;

  font-size: 16px;

  outline: 0 none;

  height: 40px;

  resize: none;

  box-shadow: none !important;

  width: 100%;
}


.contact_form .form-control::-webkit-input-placeholder {
  color: #bcbcbc;
}

.contact_form .form-control::-moz-placeholder {
  opacity: 1;

  color: #bcbcbc;
}

.contact_form .form-control::-ms-input-placeholder {
  color: #bcbcbc;
}

@media (max-width: 576px) {
  .wrap-contact3 {
    padding: 72px 15px 65px 15px;
  }
}

.validationerr {
  color: #80002a;
}
