

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);

@import url(https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.text-center {

    text-align: center!important;

}

section.section3 {

  /*  margin-top: 70px;*/

  margin-bottom: 70px;

}



 section.section3 .work-images {

    position: relative;

    height: 400px;

    overflow: hidden;

}



 section.section3 .work-images img {

    height: 100%;

    width: 100%;

}



 section.section3 .work-text-full {

    display: table;

    height: 400px;

    margin-left: 80px;

}



 section.section3 .work-text {

    display: table-cell;

    height: auto;

    vertical-align: middle;

    margin-left: 30px;

}



section.section3 .work-text h2 {

    color: #455a64;

    font-family: "Raleway", sans-serif;

    font-size: 40px;

    font-weight: 700;

    margin-top: 0;

    padding-bottom: 25px;

    position: relative;

}



 section.section3 .work-text h2::before {

    border: 2px solid #455a64;

    bottom: 5px;

    content: "";

    position: absolute;

    width: 75px;

}



section.section3 .work-text p {

    color: #899ea9;

    font-family: "Raleway", sans-serif;

    font-size: 15px;

    font-weight: 400;

    line-height: 30px;

}



section.section3 .work-images .overlay-text {

    background: rgba(24, 234, 199, 0.95) none repeat scroll 0 0;

    height: 100%;

    padding-top: 155px;

    position: absolute;

    text-align: center;

    top: 0;

    width: 100%;

}



section.section3 .work-images .overlay-text i {

    background: transparent none repeat scroll 0 0;

    border: 1px solid #fff;

    border-radius: 50%;

    color: #fff;

    font-size: 80px;

    padding: 2px;

    position: relative;

}



section.section3 .work-images .overlay-text i::after {

    border: 1px solid #fff;

    content: "";

    height: 104px;

    left: -10px;

    position: absolute;

    top: -10px;

    width: 104px;

    border-radius: 50%;

}



.mt-5, .my-5 {

    margin-top: 3rem!important;

}.d-block {

    display: block!important;

}



.rounded {

    border-radius: .25rem!important;

}

.img-fluid {

    max-width: 100%;

    height: auto;

}

.pb-3, .py-3 {

     padding-bottom: 1rem!important; 

}

.mt-3, .my-3 {

    margin-top: 1rem!important;

}

.white{color:#fff;}

.yellow{color:#dbe219;}

.pink{color: #ff00ba;}

#testimonial .orange-text{color:orange;}

.poppins{font-family:'poppins',sans-serif;}

.section1{background-image:url('../img/section20-1024x785.png'); background-position: center center; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; padding-bottom: 50px; padding: 20px;}



.section1 h2{font-family:'poppins',sans-serif; color:#fff; text-align: center; 

  background: #F26522;

 

  border-radius: 20px;

  padding: 10px;

}



 .pb-5{

  padding-bottom: 5px;



 }

.section1 h3{font-family: 'poppins',sans-serif; color:#fff; font-size: 23px;}

.section3 h3{font-family: 'poppins',sans-serif; color:#fff; font-size: 23px;}

.section3 p{font-size: 18px;}

.section3 {background-image: url(../img/quick-bg.jpg);  background-position: center center; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; padding-bottom: 50px; padding: 20px}





     .bonusbutton a {

    background: #20c997;

    color: #fff;

    padding: 1% 4% 1% 4%;

    display: table;

    margin: auto;

       /* text-shadow: 1px 1px 0 #333; */

        /* text-shadow: 0 2px 2px rgba(0,0,0,0.3); */

    position: relative;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    box-shadow: 0 6px #043728;

    border-radius: 20px;

    font-weight: 700;

    font-size: 50px;



}



    .bonusbutton a:hover {

        background:#03805b;

        text-decoration: none;

    }







    @media screen and (min-width: 601px) {

      .section1 h1 {

        font-size: 50px;

        font-family:'poppins',sans-serif; 

        color:#fff; 

        text-align: center

      }

      .section3 h1 {

        font-size: 50px;

        font-family:'poppins',sans-serif; 

        color:#fff; 

        text-align: center

      }

      .section2 h2{font-size: 60px; font-weight: 700; font-family: 'poppins',sans-serif; padding: 10px;}

      .section3 h2{font-size: 60px; font-weight: 700; font-family: 'poppins',sans-serif; padding: 10px;}

  





    }

    

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

    @media screen and (max-width: 600px) {

      .section1 h1 {

        font-size: 30px;

        font-family:'poppins',sans-serif; 

        color:#fff; 

        text-align: center

      }

      .section3 h1 {

        font-size: 30px;

        font-family:'poppins',sans-serif; 

        color:#fff; 

        text-align: center

      }





.bonusbutton a{font-size:20px;}



   .image-fluid{margin:0 auto;}

   .section2 h2{font-size: 40px; font-weight: 700; font-family: 'poppins',sans-serif;margin-top: 10px;}



      

    }

 .pb-3, .py-3 {

     padding-bottom: 1rem!important; 

}



.card {

  position: relative;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-direction: column;

  flex-direction: column;

  min-width: 0;

  word-wrap: break-word;

  background-color: #fff;

  background-clip: border-box;

  border: 1px solid rgba(0, 0, 0, 0.125);

  border-radius: 0.25rem;

}



.card > hr {

  margin-right: 0;

  margin-left: 0;

}



.card > .list-group:first-child .list-group-item:first-child {

  border-top-left-radius: 0.25rem;

  border-top-right-radius: 0.25rem;

}



.card > .list-group:last-child .list-group-item:last-child {

  border-bottom-right-radius: 0.25rem;

  border-bottom-left-radius: 0.25rem;

}



.card-body {

  -ms-flex: 1 1 auto;

  flex: 1 1 auto;

  padding: 1.25rem;

}



.card-title {

  margin-bottom: 0.75rem;

}



.card-subtitle {

  margin-top: -0.375rem;

  margin-bottom: 0;

}



.card-text:last-child {

  margin-bottom: 0;

}



.card-link:hover {

  text-decoration: none;

}



.card-link + .card-link {

  margin-left: 1.25rem;

}



.card-header {

  padding: 0.75rem 1.25rem;

  margin-bottom: 0;

  background-color: rgba(0, 0, 0, 0.03);

  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}



.card-header:first-child {

  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

}



.card-header + .list-group .list-group-item:first-child {

  border-top: 0;

}



.card-footer {

  padding: 0.75rem 1.25rem;

  background-color: rgba(0, 0, 0, 0.03);

  border-top: 1px solid rgba(0, 0, 0, 0.125);

}



.card-footer:last-child {

  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);

}



.card-header-tabs {

  margin-right: -0.625rem;

  margin-bottom: -0.75rem;

  margin-left: -0.625rem;

  border-bottom: 0;

}



.card-header-pills {

  margin-right: -0.625rem;

  margin-left: -0.625rem;

}



.card-img-overlay {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  padding: 1.25rem;

}



.card-img {

  width: 100%;

  border-radius: calc(0.25rem - 1px);

}



.card-img-top {

  width: 100%;

  border-top-left-radius: calc(0.25rem - 1px);

  border-top-right-radius: calc(0.25rem - 1px);

}



.card-img-bottom {

  width: 100%;

  border-bottom-right-radius: calc(0.25rem - 1px);

  border-bottom-left-radius: calc(0.25rem - 1px);

}



.card-deck {

  display: -ms-flexbox;

  display: flex;

  -ms-flex-direction: column;

  flex-direction: column;

}



.card-deck .card {

  margin-bottom: 15px;

}



@media (min-width: 576px) {

  .card-deck {

    -ms-flex-flow: row wrap;

    flex-flow: row wrap;

    margin-right: -15px;

    margin-left: -15px;

  }

  .card-deck .card {

    display: -ms-flexbox;

    display: flex;

    -ms-flex: 1 0 0%;

    flex: 1 0 0%;

    -ms-flex-direction: column;

    flex-direction: column;

    margin-right: 15px;

    margin-bottom: 0;

    margin-left: 15px;

  }

}



.card-group {

  display: -ms-flexbox;

  display: flex;

  -ms-flex-direction: column;

  flex-direction: column;

}



.card-group > .card {

  margin-bottom: 15px;

}



@media (min-width: 576px) {

  .card-group {

    -ms-flex-flow: row wrap;

    flex-flow: row wrap;

  }

  .card-group > .card {

    -ms-flex: 1 0 0%;

    flex: 1 0 0%;

    margin-bottom: 0;

  }

  .card-group > .card + .card {

    margin-left: 0;

    border-left: 0;

  }

  .card-group > .card:not(:last-child) {

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

  }

  .card-group > .card:not(:last-child) .card-img-top,

  .card-group > .card:not(:last-child) .card-header {

    border-top-right-radius: 0;

  }

  .card-group > .card:not(:last-child) .card-img-bottom,

  .card-group > .card:not(:last-child) .card-footer {

    border-bottom-right-radius: 0;

  }

  .card-group > .card:not(:first-child) {

    border-top-left-radius: 0;

    border-bottom-left-radius: 0;

  }

  .card-group > .card:not(:first-child) .card-img-top,

  .card-group > .card:not(:first-child) .card-header {

    border-top-left-radius: 0;

  }

  .card-group > .card:not(:first-child) .card-img-bottom,

  .card-group > .card:not(:first-child) .card-footer {

    border-bottom-left-radius: 0;

  }

}



.card-columns .card {

  margin-bottom: 0.75rem;

}



@media (min-width: 576px) {

  .card-columns {

    -webkit-column-count: 3;

    -moz-column-count: 3;

    column-count: 3;

    -webkit-column-gap: 1.25rem;

    -moz-column-gap: 1.25rem;

    column-gap: 1.25rem;

    orphans: 1;

    widows: 1;

  }

  .card-columns .card {

    display: inline-block;

    width: 100%;

  }

}

.mt-3, .my-3 {

    margin-top: 1rem!important;

}



.step {font-size: 40px; margin-right: 20px;}

.step-detail{font-size: 18px;}

#toplist li{

  color: #fff;

  margin-bottom: 20px;

  font-size: 19px;

  

}.list-unstyled {

    padding-left: 0;

    list-style: none;

}.mb-5, .my-5 {

    margin-bottom: 3rem!important;

}

.text-dark {

    color: #343a40!important;

}.rounded-circle {

    border-radius: 50%!important;

        max-width: 160px;

    margin-left: auto;

    margin-right: auto;

}



.img-fluid {

    max-width: 100%;

    height: auto;

}

