@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body { 
  background-image:url("@cf_asset/img/bg.jpg");
  background-repeat: no-repeat;
}
.btn-block {
 display: block;
 width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
 padding: .5rem 1rem;
 font-size: 1.25rem;
 line-height: 2.5;
 border-radius: .3rem;
}

.btn-danger {
 color: #fff;
 background-color: #dc3545;
 border-color: #dc3545;
}
.form-control {
 display: block;
 width: 100%;
 padding: .375rem .75rem;
 font-size: 1rem;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #ced4da;
 border-radius: .25rem;
 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body {
       font-family: 'poppins', sans-serif; 
}

 .wrapper {
     margin-top: 50px;
     margin-bottom: 20px;
 }
.error{
color:pink;font-size:15px; text-align:left; padding: 20px;
font-family:'poppins',san-serif;
text-align:center;
}
 .form-signin {
     max-width: 420px;
     padding: 10px 38px 66px;
     margin: 0 auto;
    opacity: 0.9;
 filter: alpha(opacity=30); /* For IE8 and earlier */
     border: 3px;
     border-radius: 5px;
 border:solid 1px #d9d9d9;
 }

 .form-signin-heading {
     text-align: center;
     margin-bottom: 20px;
 color:#fff;
 }

 .form-control {
     position: relative;
     font-size: 16px;
     height: auto;
     padding: 10px;
 }

 input[type="text"] {
     margin-bottom: 0px;
  border-radius:5px;
border:solid 1px #000;
background:#fff;
 }

 input[type="password"] {
     margin-bottom: 20px;
    border-radius:5px;
   border:solid 1px #000;
 }